<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body>
        <header>
            <h1>Datamusements blog site</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/useful-snippets">Useful snippets</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main></main>
        <aside></aside>

        <footer>
            
        </footer>

        <h2>{{title}}</h2>
        {{content | safe}}
    </body>
</html>
